modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5904
externalPort = 3003

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["stripe:1.0.0", "resend:1.0.0"]

[userenv]

[userenv.shared]
VAPID_SUBJECT = "mailto:quinzinhooliveiraa@gmail.com"
VAPID_PUBLIC_KEY = "BPbRRMbJrMOw2Tl2gIHBoV428pab0N9N6XNUclgrE-Mk1RhwJkMfEKtRlziK1n5gt2oUCm7sDFgBzX7HAuNU1Hk"
